# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/

# Node/Frontend
node_modules/
dist/
.DS_Store
coverage/
.npm/

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml
